<div class="flex flex-row bg-slate-100 gap-7 justify-between px-14 pb-28">
    <div class="flex flex-col justify-center w-1/4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 self-center mb-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>
          <h1 class="font-bold text-xl text-center mb-4">Worldwide Shipping</h1> 
          <p class="text-center leading-8">We are proud to offer our product for shipping to customers all around the world.</p>         
    </div>

    <div class="flex flex-col justify-center w-1/4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 self-center mb-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
          </svg>
          
          <h1 class="font-bold text-xl text-center mb-4">Best Quality</h1> 
          <p class="text-center leading-8">We are committed to using only the highest quality materials to craft our product that customers can rely on for years to come.</p>         
    </div>

    <div class="flex flex-col justify-center w-1/4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 self-center mb-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z" />
          </svg>
          
          <h1 class="font-bold text-xl text-center mb-4">Best Offer</h1> 
          <p class="text-center leading-8">We are excited to offer our best deal yet, with unbeatable prices and amazing discounts that you won't want to miss.</p>         
    </div>

    <div class="flex flex-col justify-center w-1/4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 self-center mb-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
          </svg>
          
          <h1 class="font-bold text-xl text-center mb-4">Secure Payments</h1> 
          <p class="text-center leading-8">Whether you choose to pay with a credit card, PayPal, or another method, you can rest assured that your payment information is safe with us.</p>         
    </div>
</div>

<div class="border-t-2 border-b-2 py-10 mb-10">
    <h1 class="text-center text-3xl">
        SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.
    </h1>
</div>

<div class="flex flex-row justify-between px-10 pt-10 pb-28">
    <div class="">
        <h1 class="text-4xl italic font-bold mb-10">KSC</h1>
        <h3 class="font-bold text-2xl">The best look anytime, anywhere.</h3>
    </div>

    <div class="flex flex-col gap-6">
        <h3 class="text-xl">For Her</h3>
        <ul class="flex flex-col gap-2">
            <li class="text-gray-500"><a href="">Women Jeans</a></li>
            <li class="text-gray-500"><a href="">Tops and Shirts</a></li>
            <li class="text-gray-500"><a href="">Heels and Flat</a></li>
            <li class="text-gray-500"><a href="">women accessories</a></li>
        </ul>
    </div>

    <div class="flex flex-col gap-6">
        <h3 class="text-xl">For Him</h3>
        <ul class="flex flex-col gap-2">
            <li class="text-gray-500"><a href="">Mens Jeans</a></li>
            <li class="text-gray-500"><a href="">Mens Shirts</a></li>
            <li class="text-gray-500"><a href="">Mens Shoes</a></li>
            <li class="text-gray-500"><a href="">Mens Jackets</a></li>
        </ul>
    </div>

    <div class="">
        <h3 class="text-xl mb-8">Subscribe</h3>
        <input type="text" placeholder="Email" class="bg-gray-100 border border-gray-200 py-2 px-2 w-60 mb-5">
        <button type="submit" class="block py-3 px-7 text-white bg-blue-600 uppercase hover:bg-blue-800 transition-all">Subscribe</button>
    </div>
</div>

<div class="border-t-2 py-10">
    <p class="pl-10">Made with ❤️ by Agu Obumneme Wisdom.</p>
</div>