<nav class="flex flex-row justify-between bg-sky-600 py-10 text-2xl px-5 text-white font-serif sticky top-0 z-50">
    <ul class="flex flex-row justify-between gap-5">
        <div class="mr-8 border-2 border-white py-1 px-5">
            <h1 class="italic text-4xl cursor-pointer" routerLink="/">KSC</h1>
        </div>
        <li class="pt-3"><a href="">Men</a></li>
        <li class="pt-3"><a href="">Women</a></li>
        <li class="pt-3"><a href="">Others</a></li>
        <div class="pt-3 w-72 h-9 mt-4 relative bg-white rounded">
            <input type="search" class="h-5 text-sm text-gray-500 pl-2 left-6 py-1 absolute top-2 pb-2 focus:outline-none">
            <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400 z-50 absolute top-2 left-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>                  
            </button>
        </div>
    </ul>
    <div class="flex flex-row justify-between gap-5">
        <ul class="flex flex-row justify-between gap-5 pr-10 pt-3">
            <li><a href="" class="block">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
        <div class="flex flex-row justify-between gap-5">
            <a routerLink="/carts" class="text-2xl border-2 border-white inline py-2 px-3 hover:bg-sky-900 transition-all"> Cart
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
            </a> 
            
            <a href="" class="pt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>                  
            </a>
        </div>  
    </div>
</nav>
