<div class="bg-slate-100 flex flex-col px-10 pb-10">
    <h1 class="self-center text-3xl pb-5">Related Products</h1>
    <div class="self-center bg-green-600 w-24 h-1 rounded-xl mb-10"></div>
    <div class="flex flex-row justify-center gap-5">
        <ng-container class="" *ngFor="let productCategory of productCategories">
            <div class="border-2 border-gray-300 h-96 w-full" *ngIf="productCategory.category === productCat.category && productCategory.id != productCat.id">
                <img src="{{productCategory.thumbnail}}" class="w-full h-3/6">
                <div class="bg-gray-900 h-3/6 py-3 px-3">
                    <h3 class="text-white pb-2">
                        {{productCategory.title}}
                    </h3>
                    <p class="text-white text-sm pb-2">
                        {{productCategory.category}}
                    </p>
                    <p class="text-white pb-5">
                        {{productCategory.price | currency}}
                    </p>
                    <a href="/products/{{productCategory.id}}" class="py-2 px-6 bg-blue-600 text-white">View Product</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>
