<div class="max-w-full px-5 bg-slate-100  pt-20 pb-10">
    <div 
    class="h-screen bg-cover bg-left relative bg-fixed" 
    style="background-image: url('../../assets/images/shop.jpg');">
    <div class="mix-blend-multiply bg-indigo-900 h-screen absolute top-0 w-full"></div>
    <div class="absolute top-44 left-28">
        <h2 class="text-white text-2xl">Limited Time Offer</h2>
        <h1 class="text-5xl py-4 text-white">Special Edition</h1>
        <p class="text-white pb-4">One of the trending and best product available.</p>
        <h3 class="pb-4 text-white text-2xl">Buy This T-shirt At 20% Discount, Use Code OFF20</h3>

        <button class="py-3 px-8 mt-6 bg-white font-semibold hover:bg-transparent border border-white transition-all">Shop Now</button>
    </div>
    </div>
</div>
